* {
    font-family: poppins;
}

.navbar-bg {
    background-color: #A795B6;
}

.nice-tab {
    color: rgba(0, 0, 0, 0.51);
}

.nice-tab.active {
    color: black !important;
    background: transparent !important;
    border-color: transparent !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.51) !important;    
    border-radius: 0px !important;
}

.nice-tab:hover {
    color: black !important;
    background: transparent !important;
    border-color: transparent !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.51) !important;    
    border-radius: 0px !important;
}

.skill-box {
    width: 378px;
    height: 348px;
    left: 531px;
    top: 338px;
    background: #FFFFFF;
    box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.purple-box {
    width: 140px;
    height: 39px;
    left: 104px;
    top: 473px;

    background: rgba(176, 0, 220, 0.11);
    border-radius: 8px;

    color: #B000DC;
    line-height: 250%;
}